<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Number Question</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action=/addNumRangeQuestion method="get">
  <label for="question">Text Question:</label><br>
  <input type="text" id="question" name="question"><br>
  <label for="min">Min Number:</label><br>
  <input type="number" id="min" name="min"><br>
  <label for="max">Max number:</label><br>
  <input type="number" id="max" name="max"><br>
  <label for="surveyID">surveyID:</label><br>
  <input type="number" id="surveyID" name="surveyID"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>