<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Text Question</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action=/addTextQuestion method="get">
  <label for="question">Text Question:</label><br>
  <input type="text" id="question" name="question"><br>
  <label for="surveyID">surveyID:</label><br>
  <input type="number" id="surveyID" name="surveyID"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>