<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All Surveys</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<button onclick="addText()">Add Text Question</button>
<button onclick="addMC()">Add MC Question</button>
<button onclick="addNumber()">Add Number Question</button>
<form action=/surveyViewCreateForm method="get">
  <label for="surveyID">surveyID:</label><br>
  <input type="number" id="surveyID" name="surveyID"><br>
  <input type="submit" value="Answer Survey">
</form>
<tbody>
<tr th:each="survey: ${surveyList}">
  <p th:text="'Survey: ' + ${survey.getSurveyID()}" />
  <p th:text="'Questions: '" />
  <th:block th:each="question : ${survey.getQuestionString()}">
    <span style="white-space: pre-line" th:text="${question}"></span>
  </th:block>
  <p>---------------------------</p>
  <br>
</tr>
</tbody>
</body>
<script>
  function addText() {
    window.open("textQuestion")
  }
  function addMC() {
    window.open("mcQuestion")
  }
  function addNumber() {
    window.open("numberQuestion")
  }
</script>
</html>