<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Survey Monkey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Welcome to Survey Monkey</p>
<button onclick="viewSurvey()">View Surveys</button>
<button onclick="addSurvey()">Create A Survey</button>
<button onclick="closeSurvey()">Close A Survey</button>
<button onclick="viewAggregate()">View Aggregate of Survey</button>
</body>
<script>
    function viewSurvey() {
        window.open("viewSurveys")
    }

    function addSurvey() {
        window.open("surveyViewCreateSurvey")
        window.alert("Survey Created")
    }

    function closeSurvey(){
        window.open("surveyViewCloseSurvey")
    }

    function viewAggregate(){
        window.open("surveyViewGetAggregate")
    }
</script>
</html>