<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monkey Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Survey ID: ' + ${survey.getSurveyID()}"></p>

<th:block th:if="${textAnswerLists.size() > 0}">
    <th:block th:each="textAnswer : ${textAnswerLists}">
        <p th:text="'Question ' + ${textAnswer.getId()} + ' : ' + ${textAnswer.getQuestion()} "></p>
        <th:block th:each="answer : ${textAnswer.getAnswerList()}">
            <p th:text="${answer}"></p>
        </th:block>
    </th:block>
</th:block>

</body>
</html>
